@charset "UTF-8";


main.espaco {
   min-width: 300px;
   min-height: 300px;
   max-width: 500px;
   max-height: 500px;
   background-size: cover;
   background-repeat: no-repeat;

   top: 50%;
   left: 50%;
   position: absolute;
   background-attachment: fixed;
   transform: translate(-50%, -50%);
}